.homepage {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
}

ul {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

ul li:hover {
    opacity: 0.5;
}

.categories {
    display: grid;
    grid-gap: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
}

.categories main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.categories footer {
    border: solid 1px;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productlist {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
}

.productlist article a {
    border-bottom: solid;
    border-color: lightgray;
}

.productlist article a:hover {
    opacity: 0.6;
}

.productlist article.soldOut img {
    opacity: 0.5;
}

.productlist article.soldOut::before {
    content: "Sold Out";
    position: absolute;
    padding: 1em;
    background-color: lightgray;
    z-index: 1;
}

.productlist article .discounted,
.productlist article .price span {
    display: none;
}

.productlist article.onSale .discounted {
    display: flex;
    justify-content: space-between;
}

.discounted p:last-child {
    background-color: red;
    padding: 0.2rem;
  }

.productlist article.onSale .price span {
    display: initial;
}

.product {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 2em;
}

.product img {
    width: 80%;
}

header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 1em;
    box-shadow: 0px 8px 17px 0px rgb(0, 0, 0, 0.15);
}

a {
    text-decoration: none;
    color: black;
}

article:hover {
    box-shadow: 0px 15px 12px 0px rgb(0, 0, 0, 0.15);;
}

img {
    display: block;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}

dt {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    padding-bottom: 0.5em;
}

dd {
    font-family: Arial, Helvetica, sans-serif;
}

section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
}

@media only screen and (min-width: 700px) {
    .categories {
        grid-template-columns: 2fr 1fr;
        margin-left: 2em;
        margin-right: 2em;
    }

    header {
        font-size: 4em;
        grid-column: 1/-1;
    }

    .categories main {
        grid-column: 1/-1;
    }

    .categories footer {
        grid-column: 1/-1;
    }

    .productlist main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .productlist main h2 {
        grid-column: 1/-1;
    }

    .productlist main h2 {
        font-size: 2em;
    }
}